[2022-08-02 19:59] cprasad1 commented on #9100
seems like people are hitting this issue with CFK 2.4 https://docs.confluent.io/operator/current/release-notes.html#co-long-2-4-0-release-notes

[2022-08-03 22:58] letaoj commented on #7470
We can use the new dependency as long as it properly shade all ksql dependencies and does not causing any conflict to our downstream consumer

[2022-08-04 05:36] ruettere opened #9386 "Add new window function row_number()"
In an aggregation we would like to have the elements of a group sorted. In SQL, this can be reached with:

ROW_NUMBER() OVER (
    [PARTITION BY expr1, expr2,...]
    ORDER BY expr1 [ASC | DESC], expr2,...
)

The operation would be inside one partition.

[2022-08-04 11:20] msestak commented on #9282
Hi,

I'm running 7.2.0 version from confluent distribution and trying to set HSTS.
This is version:
[code]
HSTS is set in:
[code]
but is ignored:
[code]

This is security issue for us because HSTS is not enabled. Other Kafka services (REST,  Schema registry and Kafka connect) respect and use response.http.headers.config value.
It should return something like this. Example from Kafka REST:
[code]

[2022-08-04 18:40] sagimedina1 commented on #9333
Hi @jnh5y, I respect your point, but I can't entirely agree with it. **Protobuf supports optional fields**.
In GolLang, for example, if you define something as "optional", it will generate a struct with a pointer to the type
( from example the line ``optional string name = 2;`` will convert to ``Name        *string `protobuf:"bytes,2,opt,name=name,proto3,oneof" json:"name,omitempty"`
``
That means

[2022-08-04 19:24] suhas-satish commented on #9163
@bvarghese1 , @spena  mentioned this is similar to a fix he's working on for https://github.com/confluentinc/ksql/issues/9169 . Maybe  you wan to wait before starting this work ?

[2022-08-04 19:34] suhas-satish commented on #8919
@pgaref , unassigned you from this since it makes sense to wait on other related serialization issues as Sergio has noted in the comment below
https://github.com/confluentinc/ksql/pull/9238#issuecomment-1189507274

[2022-08-04 19:48] jnh5y commented on #9333
Hi @sagimedina1 fair point.  I suppose what I'm trying to say is that there is either a limitation with how ksqlDB handles nullable columns with Protobuf or there are some changes which need to be made to give folks control over it.

By chance, could you get the Protobuf definition which is being generated by ksqlDB and published in SR?  (It sounds like you may have SR enabled.)

[2022-08-04 21:02] agavra commented on #9375
yes there is a difference, the encoding is slightly different between the two formats. For example, `JSON` will encode a string using `"` (`"foo"`) while `KAFKA`'s String serializer will not (`foo`). They are pretty similar though!

LMK if that helped.

[2022-08-04 21:02] #9375 closed

[2022-08-04 21:34] alonpr commented on #9375
@agavra - I think that I actually meant asking if it makes any difference for the **de**-serialization, for example (foo) or ("foo") can both be de-serialized with KAFKA or JSON format and as long as it's a KEY_FORMAT of a single key then shouldn't be any difference or limitation no matter which one was used, is that correct?

[2022-08-05 05:00] bvarghese1 commented on #9163
Will sync with @spena regarding this. Thank you for the update @suhas-satish

[2022-08-06 01:43] agavra commented on #9375
@alonpr it does matter, you can deserialize both but if you deserialize `"foo"` with JSON you'll get `foo` and if you deserialize it with Kafka you'll get `"foo"`

[2022-08-08 15:45] vcrfxia opened #9406 "Class-type config overrides cannot be serialized to the command topic"
**Describe the bug**

Sending a ksql request with a class-type config override (at the query-level) results in commands being unable to be serialized to the command topic:
[code]

**To Reproduce**

On a recent version of ksql (confirmed the bug on master, initial report was for 0.26), issue a `CREATE STREAM AS` (or any other command that needs to be serialized to the command topic) with a class-ty

[2022-08-09 13:34] aliehsaeedii commented on #9171
Please update the ksqlDB server to the latest version.

[2022-08-09 16:27] suhas-satish commented on #9386
we dont yet support order by which is a pre-requisite for row_number(). Will add it to the backlog

[2022-08-09 16:33] suhas-satish commented on #9333
@colinhicks , can you chime in here of what the expected behaviour should be in ksqlDB ?

[2022-08-09 16:42] #6091 closed

[2022-08-09 18:24] #9164 closed

[2022-08-09 18:44] agavra commented on #9206
yes, this should be part of the 0.28 release :)

[2022-08-09 20:06] #9062 closed

[2022-08-09 22:57] raphaelauv opened #9422 "0.27.2 missing in changelog"
0.27.2 -> https://hub.docker.com/r/confluentinc/ksqldb-server/tags

is not present in the changelog -> https://docs.ksqldb.io/en/latest/operate-and-deploy/changelog/

and https://github.com/confluentinc/ksql/blob/master/CHANGELOG.md

[2022-08-10 18:12] #8256 closed

[2022-08-10 21:05] suhas-satish commented on #9171
@aliehsaeedii , is this not reproducible  on the latest version? what version do you recommend the user to upgrade to?

[2022-08-10 22:42] suhas-satish commented on #8995
@bvarghese1 , can you close this issue and open another one with the proposed new approach?

[2022-08-11 13:23] emrekuecuek opened #9437 "Multiple Entries for same primary key in CTAS query"
Hello. We have a question regarding windowed aggregations on tables, specifically with `CREATE TABLE AS SELECT` queries. We have the following pipeline for processing our data.

[code]

Enrichment table will be used for checking several conditions using `CASE` clauses. We would like to use some non-windowed aggregations with windowed aggregations, but apparently that is not possible in the same SQ

[2022-08-11 13:32] emrekuecuek commented on #9437
I've found something in #8643 but is this the correct answer? I could not be certain.

[2022-08-11 15:24] spena opened #9438 "INSERT/VALUES fails when SR key schema differs from the schema resolved by KSQL"
**Describe the bug**
This issue happens when I create a stream or table that infers its schema from an existing SR key schema I registered before. This SR key schema has properties that CREATE won't add if I leave CREATE to register the schema. For instance, the below schema has `doc` properties to help me add comments in the schema. It also uses a different name and namespace:
[code]

I can creat

[2022-08-11 16:41] bvarghese1 commented on #8995
Closing this as we cannot turn off the auto.register.schemas setting to False by default as this breaks the changes that were merged in this PR - https://github.com/confluentinc/ksql/pull/9238
Instead tackling this issue - https://github.com/confluentinc/ksql/issues/9438

[2022-08-11 16:41] #8995 closed

[2022-08-11 19:26] suhas-satish commented on #8952
@aliehsaeedii , can you check if this is a duplicate of another P0 that you're already working on and link it here ?

[2022-08-11 21:03] suhas-satish commented on #9422
@JimGalasyn , should this be assigned to docs ?

[2022-08-11 21:41] JimGalasyn commented on #9422
@suhas-satish I don't generate changelogs --  I think there's some script that somebody runs.

[2022-08-11 22:20] #6403 closed

[2022-08-12 09:45] CiroDiMarzo commented on #3184
+1 please fix. Than you.

[2022-08-15 03:37] TestSmell opened #9449 "Test Smell: Wrong 'AssertEquals' Usages"
Hi!
We detect several wrong assertion API usages in your project.

description:
Referring to the API document of ''org.junit.Test'' , the correct API of ''AssertEquals'' is ''assertEquals(Object expected, Object actual)''.
However, your test cases write the ''AssertEqualst'' assertion with a wrong parameter order.
For example, the test case named ''filter_shouldIncludeBelowThreshold()'' writes the

[2022-08-15 14:30] jnh5y commented on #3184
I added the needs-triage tag so that we'll look at this issue again this week.

[2022-08-15 15:23] colinhicks commented on #9438
Thanks for the description and potential solution above. I had a couple questions to check my understanding. /cc @spena @bvarghese1 @lihaosky @pgaref @aliehsaeedii

Do we understand why a string comparison is currently used, rather than delegating the compatibility check to schema registry? It seems like SR would be able to correctly compare schemas in the case where the schemas are equivalent exc

[2022-08-15 17:55] bvarghese1 commented on #9438
"On the other hand, an SR-based check wouldn't work if the existing schema uses a different Avro name/space, even if the fields are otherwise equivalent. Comparing instead with the KSQL column schemas would solve for this case, since any namespacing is factored out, right?"
@colinhicks Yes, we are doing what you described here in this PR - https://github.com/confluentinc/ksql/pull/9412

[2022-08-15 18:26] suhas-satish commented on #7470
@jnh5y , shall we mark this as a duplicate of https://github.com/confluentinc/ksql/pull/9443 and close this ?

[2022-08-15 18:30] jnh5y commented on #7470
Hi @suhas-satish, I think we are good.  That's the PR which addresses this issue and https://github.com/confluentinc/ksql/issues/9245.

This issue is asking to shade the dependencies; the other issue isn't quite a dupe since it is asking for better documentation for how to use the ksqlDB Java API.

[2022-08-15 19:31] spena commented on #9438
The `ensureKeySchemasMatch` was added because INSERT/VALUES was overriding the SR schema with a new one. It's part of this PR https://github.com/confluentinc/ksql/pull/6601/files. Looking at the PR, I think it was just a quick fix to prevent overriding the schema. There was not deeper investigation of the SR API, just that it might override, so string comparison was a quick fix. We could use the S

[2022-08-16 00:40] #8437 closed

[2022-08-16 09:11] anupsdtiwari commented on #9161
@agavra any update on this issue ?
It seems that due to this, we are not able to fully utilise our cluster.
I have shared threadDumps in https://github.com/confluentinc/ksql/issues/9331

[2022-08-16 09:14] anupsdtiwari commented on #9161
Also i have observed that if i bombard ksqlDB with higher RPS for which it is hitting roof throughput( like for 5k RPS test, it is limiting throughput to 4500) then for such constant rps , GC is happening very quickly and resulting in hanging state of application thread.

[2022-08-16 12:41] aliehsaeedii commented on #9171
@znxftw If you upgrade to the version 0.27.2, the scenario you addressed is completely executed with no problem.

@suhas-satish Thanks for the good tip.

[2022-08-16 14:33] jnh5y opened #9454 "FORMAT_TIMESTAMP should accept long/BigInt inputs"
From the discussion on https://github.com/confluentinc/ksql/issues/8957, we'd like to add support for longs/BigInts to the function FORMAT_TIMESTAMP.

This would allow users to write `
FORMAT_TIMESTAMP(unix_timestamp)` instead of `
FORMAT_TIMESTAMP(FROM_UNIXTIME(unix_timestamp))`.

[2022-08-16 15:28] suhas-satish commented on #9171
Will close this issue since its not reproducible. We can re-open later if we get reproducible stacktrace with associated data

[2022-08-16 15:28] #9171 closed

[2022-08-16 16:26] suhas-satish commented on #9437
@emrekuecuek , #8643 is 1 way to go about it.

[2022-08-16 17:11] bvarghese1 opened #9457 "Avoid auto-registering key schema during INSERT if schema not found from Schema Registry"
**Describe the bug**
During INSERT if the key schema is not found from Schema Registry, validation is skipped and it auto-registers a new schema.
This can confuse the user if the user has already created a schema for the underlying topic and the Schema Registry fails to respond possibly due to a Network Issue.

**To Reproduce**
https://github.com/confluentinc/ksql/blob/master/ksqldb-rest-app/src/m

[2022-08-16 17:36] #9438 closed

[2022-08-16 18:14] colinhicks commented on #9333
Update: I had overlooked that we introduced a knob to control the wrapping behavior in https://github.com/confluentinc/ksql/pull/8934, with the internal `unwrapPrimitives` property. Primitives are used for new queries after ksqlDB 0.24. The previous, wrapping behavior is used for queries created by older versions. The `unwrapPrimitives` property is not user-configurable, however.

[2022-08-16 18:17] stebl commented on #9332
a query upgrade command is issued: CREATE OR REPLACE TABLE new-table AS SELECT * ...

Yep this is the desired state!  I'll clarify that in step (4), the stream processing should resume consuming where it was before the `CREATE OR REPLACE`.  There should be no "backfill" like what happens on a drop and recreate.  I think this is aligned with the current `CREATE OR REPLACE` behavior.

[2022-08-16 19:27] vpapavas commented on #9352
Hi @CiroDiMarzo !

Unfortunately, we don't yet support N-way foreign key joins which is what you need in this case. It is on the roadmap though and we are planning to add support for it. In the meantime, your alternative solution is your best bet :)

[2022-08-16 19:36] vpapavas commented on #9437
Hi @emrekuecuek !

The behavior you are experiencing is correct. Pull queries will return the rows in all windows. There is no way currently to get the rows in the latest window only. Not sure what exactly you are trying to do but `EMIT FINAL` would be one way to explore and `LATEST_BY_OFFSET` another.

[2022-08-17 06:36] raipragyaa opened #9469 "TERMINATE ALL query takes forever to terminate queries"
**Describe the bug**
We have recently upgraded to version 0.27.1. Currently we are running 2 pods of ksqldb server in Kubernetes with 4 partitions. We have around 120 queries running in our server. When we do a TERMINATE ALL to delete the queries, it's taking really long time ~ 5 hours for us to delete all the queries. Sometimes we also get `could not write the statement 'TERMINATE ALL;' into the

[2022-08-17 09:11] CiroDiMarzo commented on #9352
Thank you @vpapavas

But I have another question.

Is this feature missing in the underlying Kafka Stream library? Or is it just ksqlDB that do not support N-way foreign key joins while Kafka Stream would allow it, if I were to use it.

[2022-08-17 11:48] #9183 closed

[2022-08-17 20:49] JimGalasyn commented on #8957
@jnh5y @wlaforest Good idea! This change is live now.

[2022-08-17 22:43] #9457 closed

[2022-08-18 05:21] raipragyaa commented on #9469
@Gerrrr Can you please suggest a solution for this issue, thanks in advance!

[2022-08-18 13:42] wlaforest commented on #8957
whoa, that was lightening fast!  Thanks @JimGalasyn

[2022-08-18 19:20] sagimedina1 commented on #9333
Hi, I have done an additional test - I sent protobuf messages to a new topic (Schema Registry enabled) with "optional" fields using the GoLang client. Then I used the topic the same way (I created a stream in ksql connected topic that the golang client created) - and the results were the same, and the problem still occurred.
I will try next to change the schema inside the schema registry with `goo

[2022-08-18 20:36] jzaralim opened #9476 "UDAFs cannot be created with non-primitive initial arguments"
**Describe the bug**
From a comment posted by @reneesoika in https://github.com/confluentinc/ksql/pull/9361#discussion_r933662030

For example, if a user wanted to create a UDAF that appends values to an array (`appendToArray(col, ARRAY[2, 4])`), they would not be able to.

[2022-08-18 21:17] suhas-satish commented on #9476
Is @reneesoika  working on solving this (by adding support for custom objects to variadics)?

[2022-08-18 21:18] reneesoika commented on #9476
No, allowing `Object` in variadics won't affect initial args.

[2022-08-18 21:22] suhas-satish commented on #9422
@lihaosky , @swist can 1 of you update the changelog to include this ?

[2022-08-18 21:23] lihaosky commented on #9422
@swist can you generate the changelogs for this since you are the RM for 0.27.

[2022-08-18 21:30] Ktl-XV commented on #6484
Hello @vcrfxia the [upstream issue](https://issues.apache.org/jira/browse/KAFKA-6687) you referenced Kafka Streams is now Resolved. Can the fix also be implemented in ksqldb?

[2022-08-19 13:46] spena opened #9477 "CREATE fails becase SCHEMA_FULL_NAME being case sensitive"
I have the following SR schema on subject `test-key` with all uppercase message names:
[code]

When I create a stream with a lower case full name,  I got the following error:
[code]

The CREATE works if I used uppercase:
[code]

[2022-08-19 13:57] spena opened #9478 "INSERT/SELECT does not work with streams with FULL_SCHEMA_NAME properties"
I have the following SR schema on subject test-value with all uppercase message names:
[code]

I create two streams, `m1` and `input`:
[code]

I then insert a row in the `input` stream:
[code]

Now, I execute an insert/select query to copy data from `input` -> `m1`:
[code]

The insert/select was executed, but the `ksql_processing_log` is showing serialization errors:
[code]

[2022-08-19 16:06] vcrfxia commented on #6484
@vpapavas @jnh5y you started looking into https://github.com/confluentinc/ksql/issues/2030 right? Is this ticket (for n-way joins) also in scope for what you're looking at?

[2022-08-19 20:47] nmatare commented on #745
Yes please. :)

[2022-08-22 00:16] #6056 closed

[2022-08-22 00:26] deuscapturus commented on #4912
I was able to INSERT INTO SELECT and set null values for STRUCTS and other non-primitive types with CAST() as of at least v0.27.2

[2022-08-22 12:25] sharonreytanaf opened #9480 "typeof scalar function - is there a built-in solution?"
Is there a way to get a type of value from ksqldb? for example, if the value is 123 it should return INTEGER . something like typeof or Java's getClass().getSimpleName()

[2022-08-22 15:29] gao-artur commented on #4665
Any update here?

[2022-08-24 09:02] pri-naik5 opened #9489 "KsqlDB headless deployment throws error when creating a view from a rekeyed stream about ROWTIME being defined in the schema (ROWTIME is not defined in schema at all). CLI does not."
**Describe the bug**
KsqlDB headless deployment throws an unrelated error about 'ROWTIME' being used as a column name as it is reserved, when creating a table based off of a rekeyed stream. There is no ROWTIME anywhere in the stream topic schema or in the table.
Table creation works totally fine when run on the CLI.

**To Reproduce**
Steps to reproduce the behavior, include:
1. The version of KSQL

[2022-08-24 09:14] emrekuecuek commented on #9437
Thank you for your insights. My problem requires windowed aggregation over a sensor, and I would like to apply enrichment to the data over some conditions. For that, I am using `CASE` clauses. In the application, I need to make this enrichment according to last 5 minutes' aggregation. Hence, previous aggregations are not required in my case.

If some condition is met, I would like to update the ta

[2022-08-24 15:24] aliehsaeedii opened #9492 "Dropping a stream does not delete the associated schema"
**Describe the bug**
While `ct/cs` creates a schema, DROP does not delete the associated schema. Therefore, recreating a stream/table with the same old name and then INSERT VALUES to it, ends up with serialization error (for AVRO and PROTOBUF).
**To Reproduce**
In our current master:

**Expected behavior**
Data is inserted in the stream with no problem.

**Actual behaviour**
Failed to insert value

[2022-08-24 23:53] #5148 closed

[2022-08-25 05:17] nbonavia opened #9495 "Variable Substitions 'not yet implemented' Error in REST API"
**Describe the bug**
I am trying to use variable substitution in a ksqldb where clause on ksqldb version 0.27.1. The script works as expected when executed from the ksql-client (version 0.27.1) but when invoked trough the ksql rest endpoint, I get an error code 50000 with a 'not yet implemented' message.

**To Reproduce**
Run the below curl command: -

[code]

The response I received from the KSQL

[2022-08-25 08:23] vpapavas commented on #6484
Hey @vcrfxia! N-way joins are not really in scope, nor are table-table self-joins. We might though get table-table self-joins as a side bonus if they are easy to support :)

[2022-08-25 14:55] nbonavia commented on #9495
I checked again, and all I had to do is to include the quotes around the declared variable since it is a string.

[code]

[2022-08-25 14:56] #9495 closed

[2022-08-26 19:21] dttouchdata commented on #9352
May I know the tentative timeline of this feature (we are converting our DW using ksql and this is constant pain point) ? Thanks

[2022-08-26 19:27] dttouchdata commented on #9332
Thanks @stebl for taking time to open this. Wonder why there is no traction on this for a long ( per the error message).

[2022-08-28 19:44] senjin-hajrulahovic commented on #9492
Was able to replicate the issue with the latest confluentinc/cp-ksql-server version 7.2.1.

[code]

Would like to look further into this issue.

[2022-08-29 09:02] jaceklaskowski opened #9506 "Bulding v0.27.2 from source fails with "Could not find artifact""
Cloned the [v0.27.2](https://github.com/confluentinc/ksql/tree/v0.27.2) tag and followed the steps described in [Building and running ksqlDB locally](https://github.com/confluentinc/ksql/blob/v0.27.2/CONTRIBUTING.md#building-and-running-ksqldb-locally) that failed immediately due to missing artifacts :(

[code]

Is this a correct tag to build the latest version of ksqldb from? How to fix the issue

[2022-08-29 09:26] jaceklaskowski commented on #9506
I'm very very sorry for the false alarm. My bad that I didn't read the docs more carefully. Just RTFM and things went so well.

I found proper steps in [Building a released version](https://github.com/confluentinc/ksql/blob/v0.27.2/CONTRIBUTING.md#building-a-released-version) and building [0.27.2-ksqldb](https://github.com/confluentinc/ksql/tree/0.27.2-ksqldb) worked just fine.

[code]

[2022-08-29 09:26] #9506 closed

[2022-08-29 09:46] fskroes commented on #1093
I second this!

[2022-08-29 21:57] bvarghese1 opened #9510 "Joins with AVRO struct key schema doesn't work when key fields are used in the join condition"
**Describe the bug**
While parsing the statement, the RowKey is preserved as a STRUCT while the RowVal is flattened. This prevents doing on join using the key fields. This behavior is seen only with AVRO key schemas.

**To Reproduce**
QTT
[code]

**Expected behavior**
User should be able to specify the join condition as `S.K=SS.K` or `S.B=SS.K`

**Actual behaviour**
[code]

[2022-08-31 14:53] #9169 closed

[2022-09-01 11:51] maxbol commented on #4665
+1

[2022-09-01 18:41] bvarghese1 opened #9516 "Foreign key joins dont work when schema id is specified in source schemas"
**Describe the bug**
Foreign key joins fail when schema id is specified in the CREATE TABLE statements

**To Reproduce**
QTT
[code]

**Expected behavior**
Foreign key joins should work with or without schema ids in the CREATE statements

**Actual behaviour**
[code]

**Additional context**
Related issue - https://github.com/confluentinc/ksql/issues/9163

[2022-09-01 20:03] jaceklaskowski opened #9517 "Incorrect KsqlStatementException in KsqlEngine.createStreamPullQuery?"
It appears that [this KsqlStatementException](https://github.com/confluentinc/ksql/blob/503e4cd1baa00038491313527fac37972575e64e/ksqldb-engine/src/main/java/io/confluent/ksql/engine/KsqlEngine.java#L398-L400) is incorrect since we're in `createStreamPullQuery` (not a push query), isn't it?

[code]

Let me know where to ask such questions in the future if that's not the right venue.

[2022-09-04 12:02] ofelix03 opened #9519 "KSQLDB Push Queries Fail to Deserialize AVRO Data - Schema Lookup Performed with Wrong Schema ID"
I'm not certain what I could be missing.

 1. I have set up a Kafka broker server, with a Zookeeper and a distributed Kafka Connect.
 2. For schema management, I have set up an Apicurio Schema Registry instance
 3. I also have KSQLDB setup

The following I can confirm is working as expected

 1. My source JDBC connector successfully pushed table data into the topic `stss.market.info.public.ice_sym

[2022-09-05 09:18] jaceklaskowski opened #9520 "Invalid query repeated in error message for non-queryable tables"
`Statement: select * from bug;: select * from bug;` repeats the invalid `SELECT` query over an non-queryable table.

[code]

[2022-09-05 16:17] NitronR opened #9521 "Support for configuration that allows to prevent skipping of records when deserializaion of a field fails."
**Is your feature request related to a problem? Please describe.**
Currently, when deserialization fails for a field due to issues such as unable to coerce an input value to a field's data type, the corresponding record is skipped. For example: if we have an integer field 'amount' then record will be skipped if a string value is passed for that field.

**Describe the solution you'd like**
Our use

[2022-09-06 17:42] agavra commented on #9517
@jaceklaskowski this is the right place to ask these questions :) I see why that might be confusing, the error message is telling you three things:

1) the type of query you're trying to issue is disabled
2) you can enable it using `ksql.query.stream.pull.query.enabled`
3) if you want a push query, add `EMIT CHANGES`

I think the fact that `3` comes before `2` is confusing. I suppose the fact that

[2022-09-06 19:26] agavra commented on #9521
You can set `ksql.fail.on.deserialization.error` to achieve this behavior :) Let me know if that solves your use case.

[2022-09-06 19:26] #9521 closed

[2022-09-06 21:02] jzaralim opened #9523 "Can't insert BYTES literals"
If a user wants to run `INSERT INTO...VALUES` statements for `BYTES` literals, they have to insert `TO_BYTES('encoded_string', 'encoding')`. Since we display bytes literals as `Base64` encoded strings by default, it makes sense to allow users to insert strings like `'YQ=='` and have ksql coerce them into `bytes`.

**Additional context**
YATT relies on `INSERT` statements to pipe in data, so it wou

[2022-09-06 21:14] colinhicks commented on #9519
@ofelix03, I am not familiar with the Apicurio registry. It looks like another Apicurio user encountered a similar problem: https://github.com/Apicurio/apicurio-registry/issues/2151, where the Apicurio logs show errant requests to `/apis/ccompat/v6/schemas/ids/0`.

Are you able to reproduce this issue against Confluent Schema Registry?

[2022-09-06 21:18] jzaralim opened #9525 "Creating a struct where one of the fields has a null value results in an NPE"
**To Reproduce**
Run the following statements:

[code]

It results in `Failed to insert values into 'TEST'. Unexpected error generating code for insert value. expression: STRUCT(COLORS:=null)`. The stack trace says:

[code]

[2022-09-06 21:38] ofelix03 commented on #9519
@colinhicks I appreciate your response. I figured it out, setting add below to the Debezium connector configuration  address the above issue. The schema lookup is now performed with the global-id specified assigned to registered schema in Apicurio

Whiles this is a step forward, the lookup request to the endpoint `/apis/ccompat/v6/schemas/ids/<id>` still returns a 404. The reason for this appears

[2022-09-07 15:30] colinhicks commented on #9139
Closing this. As noted above, the upstream change was [reverted](https://github.com/apache/kafka/pull/12383), pending a reimplementation of KIP-770. We can reopen this at a later point.

[2022-09-07 15:30] #9139 closed

[2022-09-07 16:58] spena opened #9532 "EXPLAIN command displays invalid `DESCRIBE [EXTENDED] <SourceId>` command"
**Describe the bug**
The `EXPLAIN` command displays an invalid statement which should be helpful to users to get more info about a stream or table.
For instance, `DESCRIBE [EXTENDED] <SourceId>` does not work. It should be `DESCRIBE <SourceId> [EXTENDED]`
[code]

[2022-09-07 17:33] spena opened #9533 "The configuration for number of query errors in the `show queries` does not work anymore"
**Describe the bug**
When a query has errors, a list of errors collected is displayed by the `SHOW QUERIES EXTENDED` or `EXPLAIN <query>` commands. This list has a config to limit the number of errors displayed. The config is `ksql.query.error.max.queue.size` and is default to 10. However, the `SHOW QUERIES` command is displaying more errors than what it is configured and it keeps growing.

Lookin

[2022-09-08 17:45] vcrfxia commented on #9521
If I'm understanding the question correctly, it sounds like the request is for invalid records to not be skipped, but instead to be forwarded downstream. Unfortunately that doesn't fit well with SQL being a strongly typed system. Taking the example from above, if there is an integer-value column and a particular record contains a string instead, how should the string be interpreted in expressions

[2022-09-08 18:23] ikus060 commented on #4954
Any progress on this subject.
Our Kafka has specific requirement to have our topic name start with `<tenant_name>-`

So we would like to replace the value "_confluent-ksql" by something else...

[2022-09-09 03:51] #9163 closed

[2022-09-09 09:39] aliehsaeedii commented on #9324
@agavra Since the issue is solved, improving the error message is not needed any more.

[2022-09-10 11:53] gunishmatta commented on #9533
I would like to work on this
@spena

[2022-09-12 08:18] kavinchu opened #9545 "Lowercase struct variable in SELECT (non-persistent query)"
Is it possible to lowercase variable in struct for non-persistent query?
According to this link its possible to use it in select with backtick
https://docs.ksqldb.io/en/latest/how-to-guides/control-the-case-of-identifiers/

But it doesnt work with:
SELECT
    STRUCT(`e` := 'v1', `f` := true) <- doesnt work with `e` or `f`

[2022-09-12 12:13] kavinchu commented on #9545
Figured it out. Since im using it in a bash script i need to escape the backtick.

[2022-09-12 12:13] #9545 closed

[2022-09-12 18:22] spena commented on #9533
Go head @gunishmatta, take it. We'll assign a priority soon, but you're welcome to start working on this.

[2022-09-12 21:03] spena commented on #6360
I will close this ticket. It's old. Re-open it if we need to work on this.

[2022-09-12 21:03] #6360 closed

[2022-09-13 12:45] hjwalt opened #9554 "Using compiled class with protobuf"
**Is your feature request related to a problem? Please describe.**

We use protobuf bytes for our Kafka record key and payload without Confluent wire format.
With the addition of protobuf_nosr, we can use implicit mapping from schema to table / stream assuming:

1. The same data type is used
2. The sequence is maintained
3. There are no skipped sequence number

Example:

Proto schema:

[code]

Imp

[2022-09-13 14:32] NickSchouten opened #9555 "Confluent Cloud WINDOW emit FINAL"
We recently needed to write a confluent cloud ksql query that needed a hopping window with EMIT FINAL.
example:

`SELECT
 FIELD,
 COUNT_DISTINCT(OTHERFIELD) as `c`
FROM ATABLE
WINDOW HOPPING (SIZE 30 MINUTES, ADVANCE BY 1 MINUTE, RETENTION 3 DAYS)
 GROUP BY FIELD
 EMIT FINAL;
`

If you try to do this in confluent you will get the following error message:
Suppression is currently disabled. You can

[2022-09-13 14:32] #9555 closed

[2022-09-13 16:31] suhas-satish commented on #9533
@gunishmatta , assigning this to you. Do you know when you can get to it ? Thanks.

[2022-09-13 16:38] suhas-satish commented on #9489
@pri-naik5 , do you know if this was working in earlier versions for you before you hit this issue in 0.26.0 ?

[2022-09-13 16:41] suhas-satish commented on #9480
@sharonreytanaf , no we dont have it in ksqlDB as of today. A column already has a type. Can you use that ?

[2022-09-13 16:41] suhas-satish commented on #9480
are you referring to this from the Driver or the CLI?

[2022-09-13 16:48] agavra commented on #9555
For people who show up here via googling, this solution doesn't actually work - I believe it was just coincidence that we rolled out support for `EMIT FINAL` to confluent cloud just yesterday evening 😉

Originally it was intentionally disabled, and you cannot override server configurations via the confluent CLI.

[2022-09-13 17:17] NickSchouten commented on #9555
Hahaha, ok great example of some questionable causal logic then 😂

Thanks for the correction and for the continuous improvements!

[2022-09-13 20:59] spena opened #9557 "Respect JSON_SR schema column order when creating streams"
When creating a JSON_SR stream, we should create the schema in the same order that is registered in SR.

For example, I have this JSON schema in SR:
[code]

The columns of my SR schema are `product_id`, `product_name`, `product_price`. In that order.

When I create a stream, I should have the same columns in the same order, however, I get a random order. In my case, I get `product_id`, `product_pr

[2022-09-14 14:41] pri-naik5 commented on #9489
I have not tried earlier versions with this script.

[2022-09-14 15:19] xavsan opened #9558 ""Could not resolve host:" when INSERTING to different ksqldb servers"
**Describe the bug**
I'm getting a "curl: (6) Could not resolve host: additional-ksqldb-server" error when trying to INSERT into different ksqldb servers.

**To Reproduce**
Steps to reproduce the behavior, include:
1. I'm using version 0.27.2 of KSQL and the following docker-compose file to start the containers: https://github.com/confluentinc/ksql/blob/master/docker-compose.yml
3. Here's the sequ

[2022-09-14 20:46] jnh5y commented on #9245
The merged PR should close this out once the docs are merged in 0.29.

[2022-09-14 21:49] #9516 closed

[2022-09-15 08:14] daigotanaka commented on #9061
Hi all,

I started experimenting dbt-ksql here: https://github.com/anelendata/dbt-ksql
I also attached an example project: https://github.com/anelendata/dbt-ksql/tree/main/example

I just coded this in a day, so it's still experimental, but my productivity has been boosted for sure.

Feedback and collaborations are welcome :)

[2022-09-15 12:42] filidorwiese opened #9563 "Deprecating table rows over time"
Hi!

I work for an airport. We have a Kafka topic with flight update messages (partitioned by flight-number+date+direction). Using KsqlDB I've created a stream and a table to create a materialized view for the purpose of an up-to-date flight schedule.

Simplified it looks something like this:

[code]
This accumulates state over time as expected:

[code]

However, our application is actually not in

[2022-09-15 14:18] adiglp opened #9564 "JSON double data type conversion issue"
Hello,

We're seeing a weird behavior when data is converted from AVRO to JSON using ksqldb. Double data types are being converted from normal notation to scientific notation when values are higher than 10.000.000

From our tests, looks like something related to JSON serializer library, so issue scenario is reduced

Steps to reproduce the behavior:

- Create a simple JSON stream with a double type

[2022-09-15 21:07] agavra commented on #9563
You may want to look at windowed `GROUP BY` clauses: https://docs.ksqldb.io/en/latest/concepts/time-and-windows-in-ksqldb-queries/#windows-in-sql-queries this can help both of your questions. For the first, you can set the retention you want on windows. For the second, you can issue pull queries using `WINDOWSTART` and `WINDOWEND` to efficiently narrow down the amount of data you scan.

Though to

[2022-09-15 21:14] antonmos commented on #1261
We ran into the same issue. It was extremely confusing because the query did not fail fast, and instead returned an empty result.
Please please prioritize give the option to fail fast - it is very difficult to debug issues without errors.

[2022-09-16 08:21] filidorwiese commented on #9563
Thanks for your suggestions! TTL for table rows is indeed what I'm looking for. Until then, maybe WINDOW-ing combined with  `WINDOWSTART` and `WINDOWEND` might work to improve the performance if the store grows over time. However, I'm having a difficult time to apply it to my use-case.

See, in my case, I'd need to `WINDOW` based on `SCHEDULED_DATE` (INT of days since epoch) instead of on event/in

[2022-09-16 14:00] spena commented on #6521
I run a quick test with the schema used here (https://github.com/confluentinc/schema-registry/issues/1671#issuecomment-990592348).

I created a stream, but the STRUCT columns (`CONTEXT`, `GAUGES`, `FIELDS`) do not contain any of the fields mentioned in in https://app.causiq.com/schemas/logary-message-base.schema.json
[code]

Unsure whether this is a SR or KSQL issue yet. Just pointing out `allOf`

[2022-09-16 14:23] haf commented on #6521
Timed out

[2022-09-16 14:23] #6521 closed

[2022-09-16 23:18] daigotanaka opened #9570 "ksqlDB should be able to replace stream/tables with re-ordered columns in the query"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when we need to maintain the column orders when running `CREATE OR REPLACE STREAM/TABLE`

**To Reproduce**

- ksqlDB version:  0.27.3-rc6 (on Confluent)

Just 2 steps to reproduce this issue:

Step 1. Create a stream
[code]

A successful response:
[code]

Step 2. Try to add a new column in between:
[code]

Wha

[2022-09-17 01:50] winnie-chiu commented on #9532
Is this issue taken? If not,  I would like to work on it.

[2022-09-18 11:08] jaceklaskowski opened #9571 "Infamous Table isn't queryable error (and possible code duplication)"
While exploring the reason of this infamous "Table isn't queryable" error I found two places in the code where this exception can be thrown:

1. Before [creating an instance of PullPhysicalPlanBuilder](https://github.com/confluentinc/ksql/blob/971f494b135256622f2383094b14c843b1a8290a/ksqldb-engine/src/main/java/io/confluent/ksql/engine/EngineExecutor.java#L982-L989) in [PullQueryExecutionUtil.find

[2022-09-18 16:35] ahtohio opened #9572 "Broken json body while querying migrations"
**Describe the bug**
I have a 3 instanses ksql cluster without HA. I've applied some migrations and all was working fine, but at some point broke. I believe because of migrations quantity (11 in total).

ksql-migrations tool displays
[code]
My migrations topic has only one partition and the second ksql server became active for it. When I query `ksql-migrations -c /etc/ksqldb/migrations.properties

[2022-09-18 21:44] raphaelauv commented on #9422
Any news ? Thanks

[2022-09-19 13:56] #9243 closed

[2022-09-19 16:36] chuck-confluent commented on #5114
I'm getting this error in Confluent Cloud years later, where I know LATEST_BY_OFFSET is supported.

[code]

[2022-09-19 19:57] spena commented on #1261
Query errors can be viewed from the `KSQL_PROCESSING_LOG`. We cannot fail-fast a query for one invalid row. I tested this and found the error in the processing log.

[code]

[2022-09-19 19:57] spena commented on #1261
I'll close this ticket as there is no plan to fail-fast a query. This issue is from 2018 and the processing log was introduced in 2019/2020 I think.

[2022-09-19 19:57] #1261 closed

[2022-09-19 19:59] spena commented on #1261
@colinhicks are there plans to fail-fast a query when a row cannot be deserialized?

[2022-09-19 20:46] #8467 closed

[2022-09-19 20:48] agavra commented on #6106
Closing this issue as the others track concrete improvements that can be picked up.

[2022-09-19 20:48] #6106 closed

[2022-09-19 20:49] #5483 closed

[2022-09-19 21:32] #4439 closed

[2022-09-19 21:32] #4040 closed

[2022-09-19 21:33] #3666 closed

[2022-09-19 21:37] #1001 closed

[2022-09-20 02:36] bvarghese1 commented on #9212
I have fixed something similar. Let me try this out on the latest master to see if its already fixed.

[2022-09-20 03:26] bvarghese1 commented on #9212
I don't see this issue on the latest master. This has been fixed by this PR - https://github.com/confluentinc/ksql/pull/9552

[2022-09-20 03:27] bvarghese1 commented on #9212
[code]

[2022-09-20 03:34] suhas-satish commented on #9212
thanks for confirming @bvarghese1 , closing this

[2022-09-20 03:34] #9212 closed

[2022-09-20 07:59] nbonavia opened #9577 "Ksqldb Query with Value Schema ID expects data type of keys and headers to be from Schema Registry"
I have a strange behaviour in ksqldb 0.27.2 where I’m creating a Stream with a specific value_scema_id
[code]
This creates a valid stream, and I can query without any problems, however when I run the below query, that involves a Group By on the Key, which is not included in the value schema registry (because it is the kafka message’s key)
[code]
I get a stacktrace error informing me that The Schem

[2022-09-20 11:23] nmckimm commented on #9206
Has anyone managed to get this working on version 0.28.2? The change has been merged but I still cant skip `/heartbeat` or `/lag` using `authentication.skip.paths`.

[2022-09-20 14:01] rkravinder05 commented on #4954
Any updates on this, or any workaround?

[2022-09-20 14:22] Guilamb opened #9578 "Default migration config with ksql.migrations.topic.replicas=1 fails with NOT_ENOUGH_REPLICAS"
**Describe the bug**

With a plain installation of ksqldb from helm chart at https://github.com/confluentinc/cp-helm-charts/tree/master/charts/cp-ksql-server, when trying to use the migration tool initialize schemas, then it fails on the server side with error traces such as  the following

`cp-ksql-server-ccc4cf69b-9ff4b cp-ksql-server [2022-09-20 13:34:04,101] WARN [Producer clientId=producer-1]

[2022-09-20 14:27] abintrd opened #9579 "extraneous input 'key' expecting {',', 'FROM'}"
Attempting to create a stream with one of the fields as key fails
[code]

[2022-09-20 16:15] jnh5y commented on #9564
@colinhicks noted that this may be related to the Jackson serialization settings.

The work here may be to expose a Jackson setting via a ksqlDB setting.

[2022-09-20 16:18] suhas-satish commented on #9554
@hjwalt , it will be great if you can work on it. Let me know if you need any help getting started

[2022-09-20 18:14] spena opened #9580 "Struct and Array fields cannot be converted to String with the new JSON_SR converted"
**Describe the bug**
A topic that has a `STRUCT` column cannot be deserialized from KSQL if `VARCHAR` is used in the KSQL schema. This issue is found only on `JSON_SR` topics. The SR schema has the `STRUCT` column registered.

**To Reproduce**
1. Create a JSON_SR stream with the `STRUCT` column so it is registered in SR, then insert a record to it
[code]

2. Create another JSON_SR stream that read

[2022-09-20 20:11] bowenshen opened #9582 "Survery for merge conflicts in multiple commits"
Hello Everyone, I'm conducting a research experiment with open source repositories on Github about merge conflicts. Our script detect merge conflicts in multiples commits. If possible, may I ask for the committer to complete a quick survey. I appreciate your valuable feedback.

In commit https://github.com/confluentinc/ksql/commit/1cfd174bd7f83ae780c49a789ee224457aa76b70.

Left version:

[code]

R

[2022-09-20 20:57] spena opened #9584 "JsonSchemaConverter deserializes STRUCT fields as NULL when using 'additionalProperties'"
**Describe the bug**
When using the `additionalProperties` in a JSON_SR schema and the new JSON_SR converter is used for deserialization, the columns or fields of that schema are not correctly deserialized. They are deserialized as `null` values.

**To Reproduce**
Use the following SR schema:
[code]
^ Notice the `additionalProperties` in the `metadata` column. This indicates that any number of fie

[2022-09-20 22:12] spena commented on #9584
@rayokota is this supported in SR? The `JsonSchemaConverter` is returning `null` field values when the schema is defined using `additionaProperties`. I looked in the SR code and seems this' case is unsupported, but could you confirm?

[2022-09-21 01:59] hjwalt commented on #9554
I'll start on it and let you know if I need any help, either from here or from the community slack!

[2022-09-21 13:23] spena commented on #9532
Go ahead @winnie-chiu and work on it. It hasn't been taken.

[2022-09-21 21:17] xavsan commented on #9584
@spena I was able to reproduce the ```null``` field values. However, I'm unsure of where to paste the SR schema in order to include the ```additionalProperties```. Hence when I run ```ksql> set 'ksql.json_sr.converter.deserializer.enabled'='true';``` I get the following error message: ```Not recognizable as ksql, streams, consumer, or producer property: 'ksql.json_sr.converter.deserializer.enabled

[2022-09-21 22:09] spena commented on #9584
@sanjay-awatramani do you know if SR supports the `additionalProperties`? Here's the question https://github.com/confluentinc/ksql/issues/9584#issuecomment-1252969778

[2022-09-22 00:47] rayokota commented on #9584
This use case is not supported.  We do not preserve fields that do not appear explicitly in the schema.

[2022-09-22 13:21] tomheijmans opened #9590 "Push query still open but no data coming through after killing ksql-instance"
**Setup:**
We got an interactive, 2 node, ksql cluster (version 0.27.2) running on kubernetes. It is connected to a 3 node Kafka cluster provided by the strimzi operator. There is one topic in kafka, `topic-x`. On `topic-x` is a ksql stream `stream-x`. `Stream-x` is the source for another ksql stream called `stream-y` which is persistent to topic `topic-y`. Using the ksql rest api I can create a p

[2022-09-22 13:27] drinehim commented on #9584
So are dictionaries completely unsupported with JSON_SR? This method was used because KSQL wasn't mapping to the MAP  type when using
[code]

We need to join based on one of the values in the dictionary.

[2022-09-22 14:00] xavsan commented on #9584
@drinehim if i was trying to recreate your issue, could you copy the path where you pasted the SR schema?

[2022-09-22 14:08] drinehim commented on #9584
Our schema looks like
[code]

It is generated by the dotnet kafka client.

The primary place to look at is the `metadata` property under the `ValidationResponseMessage` definition.

[2022-09-22 15:02] xavsan commented on #9584
@drinehim so i poked around inside the kafka client and couldn't find the generated schema, thus I'm still getting the ```Not recognizable as ksql, streams, consumer, or producer property: 'ksql.json_sr.converter.deserializer.enabled' ``` error in the ksqldb-cli. Is there something I'm missing? is your schema stored at ./bin in the kafka client?

[2022-09-22 15:04] spena commented on #9584
@xavsan That issue might be related to the version of ksql than the SR schema. Which version are you using? The above config was added in 0.28

[2022-09-22 15:05] drinehim commented on #9584
@xavsan yes. I recreated this locally. I had to use 0.28.1 which sets `ksql.json_sr.converter.deserializer.enabled` to true by default. (ksql.json_sr.converter.deserializer.enabled set to false through environment variables does fix this but seems like a short term solution).

[2022-09-22 15:07] xavsan commented on #9584
Oh that makes a lot of sense. I'm running 0.27.2. I'll switch over to 0.28, but I think that should do it

[2022-09-22 15:10] spena commented on #9584
@drinehim One option to make it work with the new JSON_SR converter is to specify the `metadata` fields explicitly in the SR schema. That way SR will be able to return the fields for the record to KSQL.

Btw, if SR does not support the `additionalProperties` case, that means you are not using any other client to deserialize SR records besides using KSQL? Prior to KSQL 0.28, JSON_SR records were de

[2022-09-22 15:17] drinehim commented on #9584
@spena We primarily use the dotnet client which has no problem deserializing.

The plain json converter vs. SR converter it the conclusion I came to as well. So my biggest question, long term, is is there any way with JSON schema to tell KSQL that the field should be a MAP field? If we had that then we should be able to let KSQL define the object model instead of us doing it and the serializer sho

[2022-09-22 19:15] taylorsmithgg opened #9591 "Explicit AVRO definitions causes basic queries to fail"
**Describe the bug**
When creating a stream, specifying explicit AVRO properties causes basic query failures.

**To Reproduce**
Version: 0.27.2

Sample:
[code]

**Expected behavior**
Both queries should succeed since they're utilizing the same underlying AVRO schema.

**Actual behaviour**
Output
[code]

**Additional context**
N/A

[2022-09-22 21:28] spena commented on #9584
@drinehim I created a JSON_SR stream with a MAP (`(metadata map<string, string>)`) and this is what registered in SR:
[code]

I then created another stream to infer the SR schema and it inferred the `metadata` field as a MAP.
[code]

That works fine. The question, though, is about joins to a MAP key. I'm not sure on Streams, but I do know Tables won't support join to a MAP key because the way reco

[2022-09-23 14:52] drinehim commented on #9584
@spena  I fiddled around with things and found that simply adding the `"connect:type": "map"` metadata to a normal json dictionary field worked. The schema essentially looks like

[code]

It seems to me like that is what clues KSQL into a map. Without it, using the schema you sent previously, KSQL generates an array field instead of a map.

Is this another "it just happens to work" or would this b

[2022-09-26 10:08] hjwalt commented on #9554
I'm considering yet another thing that will extend this concept to add dynamic serde, but that might need a KLIP. So the idea for this implementation will be to create a path towards that.

Plan as of now:

1. Create `SerdeClassLoader` similar to UDF class loader, this will scan from `KSQL_KSQL_SERDE_DIR` defaulting to `/opt/ksqldb-serdes` in `ksqldb-serde` in `serde` package
2. Create the necessa

[2022-09-26 15:13] xavsan opened #9597 "NullPointerException: inStream parameter is null"
**Describe the bug**
I'm hitting this NPE pretty consistently when going through a standard workload.

**To Reproduce**
I'm seeing this NPE when running through the KSQL quickstart guide found here: https://ksqldb.io/quickstart.html.
1. The version of KSQL I'm running is 0.28.2.
2. The only difference between my runs and the quickstart guide are: I've added more insert statements and I'm using 3 k

[2022-09-26 15:22] spena commented on #9477
This is not an issue. Protobuf is case-sensitive. Schemas with names of different case can co-exist in one protobuf file or SR subject. For instance:
[code]

The above are valid multi-schema messages in an SR subject. I can create streams with the different messages:
[code]

[2022-09-26 15:22] #9477 closed

[2022-09-26 16:25] yalfah opened #9598 "Serialization error on protobuf schema stream when schema full name contains references that are not nested"
**Describe the bug**
KSQL fails to serialize data from topic onto stream that is created with Schema id and Schema id

**To Reproduce**
Steps to reproduce the behavior, include:
1. The version of KSQL. (cloud KSQL)
2. Create a stream using schema id and schema full name:
`CREATE STREAM "121693_test_schemas"
WITH (
  KAFKA_TOPIC='multiple_schemas_proto_test',
  VALUE_SCHEMA_ID=100273,PARTITIONS=1,

[2022-09-26 16:44] jnh5y commented on #9598
@yalfah noted that https://github.com/confluentinc/ksql/pull/9369 may be related.

[2022-09-27 13:34] DSDTEJA opened #9603 "KSQL DB Projection Table Issue"
I am having  following requirement:

1. Stream [ABC] has all the events
2. Filter the events from Stream [ABC] and create another Stream [XYZ]
3. Create projection Table [EFG] from Stream [XYZ] for summation
4. Join projection Table [EFG] and Stream [ABC]

Issue:
we are not getting updated values in the projection table. Is there any other way we can implement for this kind of flow. Let me know th

[2022-09-27 16:21] janjwerner-confluent commented on #8467
Pavel,
Thank you for raising this issue. The CVEs affecting gson and netty codec have been addressed by bumping the package versions.

[2022-09-27 16:21] janjwerner-confluent commented on #8419
Thank you for raising this issue. The CVEs affecting netty have been addressed by bumping the package versions.

[2022-09-27 17:58] xavsan opened #9604 "Producer force close due to timeout"
**Describe the bug**
In rare instances of high latency, my system skips a KSQL INSERT due to a producer force close from a timeout.

**To Reproduce**
Steps to reproduce the behavior, include:
1. KSQL version: 0.28.2
2. Creating a basic stream, and then inserting into that stream.

**Expected behavior**
I expect my system to be able to handle a timeout, or allow me to increase the max timeout thres

[2022-09-27 18:51] spena commented on #9598
@yalfah The issue is fixed in the next 0.29 release in https://github.com/confluentinc/ksql/pull/9369.
[code]

One issue you'll find, though, is that the SR schema columns must be in uppercase. You'll get another type of serialization error otherwise.
[code]

[2022-09-27 18:52] spena commented on #9598
This is the issue related to the INSERT when columns are not defined in uppercase in SR.
https://github.com/confluentinc/ksql/issues/8997

[2022-09-27 18:57] spena commented on #9598
I'll close this issue.
1) The reported issue is fixed on 0.29 - https://github.com/confluentinc/ksql/pull/9369
2) The INSERT Issue is reported on https://github.com/confluentinc/ksql/issues/8997

[2022-09-27 18:57] #9598 closed

[2022-09-27 20:30] drinehim commented on #9584
@spena Obviously this broke us when it was released, but looking long term I think we should be good since we can use the "connect.type" property.
Note: Note sure it was ever pointed out but my company is what this was opened for.

[2022-09-28 00:34] bvarghese1 commented on #9591
@taylorsmithgg In the newer versions, KsqlDB doesn't support TableElements and SCHEMA_ID if specified together. The recommended way to create a stream with SCHEMA_ID is as follows:
[code]

[2022-09-28 03:50] #9591 closed

[2022-09-30 16:13] xavsan opened #9613 "UnknownTopicOrPartitionException caused by high latency"
**Describe the bug**
When introducing high latency to my system, I'm running into this UnknownTopicOrPartitionException that causes errors all throughout my program execution.

**To Reproduce**
Steps to reproduce the behavior, include:
1. The version of KSQL = 0.28.2
2. A simple create stream command followed by a series of inserts following the tutorial here https://ksqldb.io/quickstart.html
3. A

[2022-09-30 16:33] xavsan commented on #9613
I believe the error is coming from the kafka nodes timing out earlier which prompts a series of errors and exceptions most prominently ``` org.apache.zookeeper.KeeperException$NodeExistsException: KeeperErrorCode = NodeExists ``` :

[code]

[2022-09-30 17:04] xavsan opened #9614 "Exception"
**Provide details of the setup you're running**
KSQL version 0.28.2

**Outline your question**
Using a pretty advanced testing environment, I've been running simulation tests to stress the ksql confluent setup. I've introduced different levels of latency and connection faults and I've seen all these exceptions below pop up during various runs. (the number represents the number of times that partic

[2022-09-30 18:35] malexanders opened #9616 "Ksqldb foreign-key joins drop messages when foreign key is null"
**Describe the bug**
For table-table LEFT JOIN on foreign keys no message is produced on the derived topic if the foreign-key is `null`.

**To Reproduce**
Steps to reproduce the behavior, include:
1. 7.2.1
2. Sample source data. (See INSERT statements in 3)
3. Any SQL statements you ran
[code]

**Expected behavior**
I would expect a message to be produced that includes orders fields (LEFT TABLE) a

[2022-10-03 15:18] mdirusso opened #9618 "Ksqldb High Availability - how to reach it"
I’m working with a ksqldb server deployed in Kubernetes, and since some time ago it crashed for some reason, I want to implement High Availability as described in https://docs.ksqldb.io/en/latest/operate-and-deploy/high-availability/

We are deploying the server with docker, so the properties that we put inside the config file are:

KSQL_KSQL_STREAMS_NUM_STANDBY_REPLICAS: “2”
KSQL_KSQL_QUERY_PULL_

[2022-10-04 12:46] surajranatechahead commented on #4756
Yes, I am facing the same.

[2022-10-05 05:56] naravitchan opened #9624 "Ktable skipping messages when producing many messages within 3 seconds"
**Is your feature request related to a problem? Please describe.**
When producing many messages within 3 seconds, the outputs from consumer of KSql table were skipping.
The consumer only saw 1 message. when we produce the message with 3 seconds sleep between each message, we didn't see this issue.
I also try set the cache buffer max to 0. but it still get same results.

Here is the ksql code:

[co

[2022-10-05 16:37] jaceklaskowski commented on #9618
My understanding is like yours that a ksqlDB cluster is ksqlDB instances with the same `ksql.service.id`. They will use the same command topic and should receive all the queries to execute.

One config that has to be changed though is `listeners`.

No idea about the properties not set and visible using `SHOW PROPERTIES`.

[2022-10-05 20:48] xavsan opened #9628 "Unhandled ksql exception causing a fatal error"
**Describe the bug**
During a normal run of my ksql system, I came up on a fatal kafka error that went unhandled by ksql. This is the message from the log: ``` Transiting to fatal error state due to org.apache.kafka.common.KafkaException: Unexpected error in InitProducerIdResponse; The server experienced an unexpected error when processing the request. (org.apache.kafka.clients.producer.internals.

[2022-10-07 16:47] suhas-satish commented on #9616
This is a duplicate of - https://github.com/confluentinc/ksql/issues/2657

[2022-10-07 16:53] suhas-satish commented on #9597
you can ignore the spurious warning msg. Its already well handled and the system is working as designed. It might be a deprecated parameter which we can clean up

[2022-10-07 16:58] suhas-satish commented on #9578
@jzaralim , do you know the answer to this ?

[2022-10-07 17:00] suhas-satish commented on #9577
@nbonavia , we fixed a bunch of schema_id bugs in 0.28.2. Can you try if it reproduces there ? Thanks

[2022-10-07 17:02] suhas-satish commented on #9572
@ahtohio , can you try with a more recent version of confluent platform (CP)? 7.2 is the latest released version of CP

[2022-10-07 20:03] #9523 closed

[2022-10-08 11:56] jaceklaskowski commented on #9597
This `yet` at the end of the warning message could be removed.

[code]

[2022-10-08 18:07] lucasprograms commented on #9206
Not working for me either - trying to use the same skip paths configuration as seen here:
https://github.com/mpistrang/cp-all-in-one/blob/ksqldb-server-basic-auth-example/cp-all-in-one-community/docker-compose.ksqldb-server-basic-auth.yml#L11

[2022-10-09 04:59] lucasprograms commented on #9062
Thank you for adding this feature! Will it be released with 0.29?

[2022-10-10 12:20] SamiShaikh opened #9636 "Insert and CSAS throw serialization exceptions when using VALUE_SCHEMA_ID with protobuf having nested structures"
**Describe the bug**
INSERT VALUES and CSAS throw serialisation exceptions when using VALUE_SCHEMA_ID with protobuf having nested structures.
When using Protobuf producer(java client) and producing using same schema, the projection in select works fine

**To Reproduce**
Steps to reproduce the behavior, include:
Register a schema using below proto
`
syntax = "proto3";
package prototest;

message ou

[2022-10-10 15:46] #9584 closed

[2022-10-10 16:18] jvcalderon commented on #9220
Hi @javiervelamindcurv.
What do you mean? Have you made any change in the connector definition in KSQLDB? just change the key and secret?...

[2022-10-11 11:06] DBS12 opened #9638 "KSQL db - UDF look up/look up a ksqldb table"
Hi,
Is it possible to create a UDF to receive/look up a ksqldb table?

For example:
Creating UDF which receives Int UserId as a parameter and retrieves from User Table the user name by the received UserId?
I know it can be done by scalar functions with join, but I need to do it by UDF

alternatively, is it possible to receive a ksqldb table row as JSON to UDF (as a parameter)?

[2022-10-11 11:11] sharonreytanaf commented on #9480
hey, thanks for answering and sorry for the delay.

my use case is such that i don't know the type pre-transforming because it is a mongodb cdc topic.
we have clients that send us data and we don't know what they send. in mongodb it's no problem and it's saved as is, becuase it has no schema.

our sinking is to elasticsearch which does have a schema, and in this stage we need to overcome the possi

[2022-10-12 08:04] pkgonan opened #9639 "Support Bytes to UUID UDF Function"
Background
* For high-volume processing, Relational Databases typically store UUIDs as binary(16) type.
* If you use Debezium, which is famous for CDC Source Connector, it converts MySQL Binary Type into a Type called BYTES with Avro Serializer and sends it to Kafka. The toUUID Function is required to properly restore BYTES data stored in Kafka in the form of UUID String, which is the original dat

[2022-10-12 08:25] nbonavia commented on #9577
I have upgraded from ksqldb 0.27.2 to ksqldb 0.28.2 and unfortunately the issue is still present. To give you an update, I have the following source stream: -

[code]

but when running the below query, it tries to find the `Key` from the Schema Registry, which is not there because it is declared in the `user_profile_updated`'s stream definition.

[code]

I got the following error in the log: -

[c

[2022-10-13 09:58] #9563 closed

[2022-10-13 15:13] jma562 opened #9641 "how to create a s3 sink connector that will dump a stream/table to s3"
Hi,

I'm working on building a kafka connector  to dump kafka messages to s3 storage in parquet format.
I have an option to leverage ksqldb to massage the kafka record to remove empty struct which cannot be handled
by paquet and will cause an exception in connector to transform avro->parquet.

The question is, once after the data is processed by ksql, how can I use kafka connector to dump data to

[2022-10-13 16:33] vpapavas opened #9642 "Processing log RecordProcessingError should include query or topic information"
**Is your feature request related to a problem? Please describe.**
This is an entry in the processing-log for when a processing error is encountered:
[code]

It does not provide much inside into which topic the record belongs or which query encountered the processing error. We should include this information in the log entry.

[2022-10-13 18:29] xavsan opened #9643 "UnknownTopicOrPartitionException: This server does not host this topic-partition"
**Describe the bug**
In a very rare occurrence, I'm getting an UnknownTopicOrPartitionException while attempting to CREATE a stream where the topic is in fact automatically created yet isn't recognized for some reason. This is a problem, because upon attempting to resend the CREATE command I get the following back "This server does not host this topic-partition". So clearly the topic is being crea

[2022-10-14 04:21] ravib777 opened #9644 "ARRAY<STRUCT<DATE>> returns number of days instead of date"
**Describe the bug**
When creating a date field with ARRAY<STRUCT<DATE>> , it returns number of days as integer instead of date value.

**To Reproduce**
Steps to reproduce the behavior, include:
 * Create stream with statement:
 `CREATE STREAM TMP_ARRAY_STRUCT (
DATA_DATE DATE,
FRIEND_INFO ARRAY<
      STRUCT<
          JOIN_DATE DATE,
            NAME STRING

)WITH(KAFKA_TOPIC='TMP_ARRAY_STRUCT',

[2022-10-14 16:44] pgaref commented on #9641
Hey @jma562  have you checked?
https://docs.confluent.io/kafka-connectors/s3-sink/current/overview.html#amazon-s3-sink-connector-for-cp

[2022-10-14 16:52] pgaref commented on #9644
@jzaralim / @Gerrrr  could you please take a look on this one?

[2022-10-14 17:36] jma562 commented on #9641
Hi @pgaref
I was able to set up s3 sink connector to dump kafka topic messages to s3.
However, I'm not quite clear after I leverage ksql db to process data, how can I dump the data after being processed by ksql db to s3. I've read that you can create a sink connector in ksql, but how to configure the s3 sink connector to consume data from ksql (instead of the original data in kafka topic). I have

[2022-10-17 00:17] Gerrrr commented on #9062
Hey @lucasprograms! Yeah, this feature will be included in 0.29.

[2022-10-17 14:02] lucasprograms commented on #9206
hey @agavra , possible to reopen this?

[2022-10-17 16:32] agavra commented on #9206
yeah I'll reopen this - cc @suhas-satish @alapidas

[2022-10-18 16:48] #8952 closed

[2022-10-19 00:36] cprasad1 commented on #9614
High priority:
"exception": "org.apache.zookeeper.KeeperException$NodeExistsException"
"exception": "org.apache.zookeeper.ClientCnxn$SessionExpiredException"

Low priority:
"exception": "RebalanceInProgressException"
"exception": "java.util.concurrent.TimeoutException"
"exception": "org.apache.kafka.common.errors.UnknownTopicOrPartitionException"

[2022-10-19 00:53] cprasad1 commented on #9579
@abintrd if you want to re-key, then use the `PARTITION BY` clause to apply a key to the messages and write it to a new stream. https://developer.confluent.io/tutorials/rekey-a-stream/ksql.html will be helpful

[2022-10-19 05:31] #8919 closed

[2022-10-19 10:17] pkgonan commented on #5945
@vikramindian @stevenpyzhang
Hi. How did you solve this problem ?

[2022-10-19 16:37] filpano opened #9650 "Inconsistent results when counting Kafka records using ksqldb and confluent-kafka"
### **Describe the bug**
I wish to count the number of records in a given Kafka topic to set up a monitoring endpoint as a kind of 'sanity check' for data-in vs. data-out. To do this, I set up a `ksqlDB` push query to keep a table updated with the current number of records in a topic.

The source topic is partitioned (18 partitions), has infinite retention, was produced to using a transactional pr

[2022-10-19 18:12] suhas-satish commented on #9628
@cprasad1 , any update on this ?

[2022-10-20 07:07] fig0 opened #9651 "There is a vulnerability in Apache Commons-Text: CVE-2022-42889"
https://github.com/confluentinc/ksql/blob/41c74475f7b6bd5e18993b49530cc00fac96c2a5/pom.xml#L115

https://nvd.nist.gov/vuln/detail/CVE-2022-42889#vulnCurrentDescriptionTitle

Recommended upgrade version:
\>= 1.10

[2022-10-20 12:29] jiveshthreja commented on #9227
Facing the same issue. any updates on the same??
using Vertx 4.x.x. getting the method not found for JsonObject.put().

[2022-10-20 12:43] sam-briggs-depop commented on #5395
I also have this issue. For local testing we use ksql-test-runner. We'd like to avoid specifying our entire kafka schema as columns in SQL just to permit local tests to run. We've saved the schema files to disk and can add them to a schema-registry running in docker to support this.

However as discussed here, it appears that ksql-test-runner doesn't reach out to a schema registry.

[2022-10-20 21:43] nateab commented on #9639
fixed by #9640

[2022-10-20 21:43] #9639 closed

[2022-10-20 23:51] cprasad1 commented on #9628
@suhas-satish the root cause: There is an exception/error happening in ksql, which brings streams into an error state. The fix is that in ksql, streams should not enter that state so that ksql can try to recover from the exception. The kafka-streams state error is a terminal state that should only be reached due to the handler returning a code that puts streams in that state. Ksql’s handler should

[2022-10-21 00:12] cprasad1 commented on #9628
including https://github.com/apache/kafka/commit/188b2bf2802c2bc5900a286a9ef023daaeb08c21 in 0.28 will hotfix it

[2022-10-21 01:20] pkgonan opened #9657 "What is the release date for the next version of 0.28.2-ksqldb?"
Hi. Currently, the last released version of ksqlDB is 0.28.2-ksqldb.

When is the next release date? I'd like to add a PR that updates the documentation before that release.

Feature PR
* https://github.com/confluentinc/ksql/pull/9640

[2022-10-21 01:29] pkgonan commented on #9657
@JimGalasyn @vpapavas @lihaosky @jnh5y
Hi. Looking at the PR(https://github.com/confluentinc/ksql/pull/9652), it looks like you are currently working on a 0.29 release.

The feature PR written in the current issue body was merged a few hours ago and we will be adding documentation for that feature PR soon.

When is the 0.29 release scheduled?

[2022-10-21 04:01] jiveshthreja commented on #9227
@agavra I see a PR already merged for Vertx upgrade to 4.3
https://github.com/confluentinc/ksql/pull/9421/files#diff-b3029caf6c304b08346c5a6212ee84cb0a7f8edd64e4e2cab6d52709e12c287d
Which version number is it released on ?

[2022-10-21 09:35] netudima commented on #9651
The latest Confluent distributions (such as [confluent-community-7.2.2](https://packages.confluent.io/archive/7.2/confluent-community-7.2.2.zip), [confluent-community-7.1.4](https://packages.confluent.io/archive/7.1/confluent-community-7.1.4.zip)) also have the vulnerable dependency as transitive of the included ksqlDB.

[2022-10-21 21:17] yalfah opened #9659 "Table with multiple Primary Key fields allows null values to be inserted in the primary key fields"
**Describe the bug**
Table with multiple Primary Key fields allows null values to be inserted in the primary key fields

**To Reproduce**

example table with multiple primary keys defined:
`CREATE TABLE USERS (GENDER STRING, REGIONID STRING PRIMARY KEY, USERID STRING PRIMARY KEY) WITH (FORMAT='JSON', KAFKA_TOPIC='users', PARTITIONS=1);`
i am able to insert nulls into all columns through a simple i

[2022-10-24 09:13] vpapavas commented on #9657
Hi @pkgonan !

The 0.29 release was cut on September 14. This means that code that was merged on master as of that date will be part of 0.29. Your feature will be part of the next release, 0.30

[2022-10-24 09:27] pkgonan commented on #9657
Hi @vpapavas

Thanks for your reply.
So, when will 0.30 be released and available? I'm curious about the approximate release date.

[2022-10-24 10:06] Tarasovych commented on #2284
Same issue here, `securityContext` doesn't help

[2022-10-24 14:33] lucasbru commented on #9651
Fixed

[2022-10-24 14:33] #9651 closed

[2022-10-24 18:23] nateab commented on #9657
@pkgonan the tentative release date for 0.30 is january 2023

[2022-10-25 01:12] suhas-satish commented on #9628
cc: @vpapavas just to double check we are including the missing commit in ksql 0.29 release.

[2022-10-25 11:24] pkgonan commented on #9657
Thank you very much!

[2022-10-25 11:24] #9657 closed

[2022-10-25 11:35] filidorwiese opened #9668 "Please keep Stream-Stream JOINs without GRACE a feature in future versions"
Hi there,

I understand that in most cases when JOIN-ing streams a GRACE period is a necessity to avoid "spurious" result records as is described [here](https://issues.apache.org/jira/browse/KAFKA-10847) and [here](https://www.confluent.io/blog/ksqldb-0-23-1-features-updates/#semantic-changes). However I'd argue that there are situations where intermittent updates to the result table is the intend

[2022-10-25 15:02] lucasbru commented on #9206
I was able to reproduce the bug on master, and yes, the parameter is completely ignored for basic auth. I will implement a fix.

[2022-10-25 16:51] suhas-satish commented on #9650
@pgaref , can you look if you have time at this? Maybe we are including transaction markers in the sum() in ksqlDB under EOS

[2022-10-26 05:10] tfindlay-au commented on #4436
+1

[2022-10-26 13:00] michalstutzmann opened #9670 "Deserialisation of AVRO record containing empty decimal value fails"
**Describe the bug**
Deserialisation of an AVRO record containing an empty decimal (bytes) value results in an error.

**To Reproduce**
ksqlDB version: 0.28.2

AVRO schema for the record's value:
[code]

Input:
[code]

SQL:

[code]

**Expected behavior**

Expected output:
[code]

**Actual behaviour**
Record not processed, the following error written to the log:
[code]

EDIT: ksqlDB version 0.26.0

[2022-10-27 13:02] gmcruz opened #9672 "Issue with clustering using Interactive KsqlDB deployment"
So I have a problem with Clustering KSQLDB. The problem is not with clustering it is really with 2 of the 3 access modes in Interactive ksqlDB deployment mode with k8s deployment scaled above 1. Understanding that the REST API is experimental still (I think) but the Java Client should be 100 percent, right?

###### AN AGGREGATE from a series of streams to table (MESSAGE_COUNT). SELECT COUNT FROM M

[2022-10-27 20:00] msilva-pci commented on #8359
Noticed this issue too.  Any updates?

[2022-10-27 20:12] nicollette commented on #9183
Hi, Is the fix for this issue in any releases?

[2022-10-28 20:41] abdaziz opened #9674 "ksql query SHOW STREAMS is not working on the latest version on kubernetes"
**Describe the bug**
ksqldb latest version installed on kubernetes, the query to SHOW the list of STREAMS not working
ksql> SHOW STREAMS;
at index 2
![ksql](https://user-images.githubusercontent.com/5955327/198727405-85bbd3a5-1918-4b62-b564-41177755cf9f.png)

**To Reproduce**
KSQLDB the latest version on kubernetes
Steps to reproduce the behavior, include:
run SQL QUERY: SHOW STREAMS;

**Expected

[2022-10-31 14:15] lucasbru commented on #9333
I checked the schema registration code, and there are settings (in `ProtobufData`) to control this behavior, called `wrapper.for.nullables` or `optional.for.nullables`, respectively. `unwrapPrimitives` doesn’t enable/disable these two settings, but `wrapper.for.raw.primitives`, which is yet another thing that only applies to single-column records.

We could either expose the settings to the user,

[2022-10-31 21:30] ryanfasching commented on #2284
Also having the same issue with ksqldb in Rosa 4.10 Openshift

[2022-10-31 21:56] suhas-satish commented on #9674
@abdaziz , when you say latest version, can you specify if you're running it in Confluent cloud or confluent platform (CP)? Either specify the ksqlDB 0.XX version number or the CP release version number?

[2022-10-31 21:59] suhas-satish commented on #9670
@michalstutzmann , lots of bug fixes have gone into avro, protobuf and json in ksqlDB 0.27 and ksqlDB 0.28. Can you try  on ksqlDB 0.28 if this issue is reproducible? Thanks.

Also, are you running with schema registry enabled or disabled ?

[2022-11-01 11:41] michalstutzmann commented on #9670
@suhas-satish now tested also on the latest version 0.28.2. Same error.

We were running with Schema Registry enabled.

[2022-11-02 11:13] #9206 closed

[2022-11-02 11:52] abdaziz commented on #9674
Hello suhas-satish,
Thanks for your reply, finally i found my issue.
Here was my mistake: I upgraded ksqldb-server to the latest version(0.28.2) and forgat to upgrade the kdsqldb-cli as well (so the cli remain on version 0.8.1).
Since i upgraded the kdsqldb-cli to the latest version no more issue.
This issue can be closed.

[2022-11-02 11:52] #9674 closed

[2022-11-04 15:48] AlexMad88 opened #9688 "Tumbling Window with Emit Final not producing any results"
Hello I am kind of new still to ksqlDB, I created a tumbling windowed table with EMIT FINAL. The goal I am trying to achieve is aggregate all my data for a certain timeframe and emit the final results, once the window has closed. For some reason it produces no results when I check the topic. When I create the the table with EMIT CHANGES it works just fine but I don't want it to emit right away. An

[2022-11-04 23:31] mjsax commented on #9688
Time advance only if data is flowing, because time is not based on wall-clock but event-time. Hence, if there is no new input data with larger timestamps, stream-time stops and the window is not closed (no matter how long you wait in wall-clock time).

[2022-11-05 07:36] #9688 closed

[2022-11-05 11:54] jivesh-threja commented on #7952
stuck at the same.
@MadsAdrian were you able to figure out anything ?

[2022-11-07 09:52] vidanimegh opened #9692 "Stop connecting from KSQL DB Server to Confluent Cloud"
**Search for existing answers**
Many questions have been asked before.  Please have a quick search to see if there is already an answer to your question.  There are two main resources for finding answers:

1. [Existing KSQL Github issues, including _closed_ issues](https://github.com/confluentinc/ksql/issues?utf8=%E2%9C%93&q=is%3Aissue+)
1. [KSQL on Stack Overflow](https://stackoverflow.com/questi

[2022-11-08 08:30] TheDarkFlame opened #9696 "Create Stream from table"
**Is your feature request related to a problem? Please describe.**
At present, it is possible using the CLI client to view the latest values in a table using something like `SELECT * FROM <TABLE> WHERE <KEY> = <VALUE>;` the results of which are updated in real-time.
It is not possible to get the same results out as a stream.

**Describe the solution you'd like**
A way to run a select from table as

[2022-11-09 04:34] Chandu8126 opened #9700 "No Max aggregate function with DATE/String argument type exists!"

[2022-11-09 10:48] #9333 closed

[2022-11-09 18:31] michalstutzmann commented on #9670
@mjsax `TEST_COLUMN_DECIMAL` is the input schema definition; or maybe you meant the input `STREAM` column definition? Have tested that also with the same result.

Have performed also 2 additional tests:

1. Using `PRINT` statement, output is OK, the record is deserialised successfully:

SQL:
[code]

Output:
[code]

2. A separate Kafka Streams app that I currently use for preprocessing as a workaro

[2022-11-10 13:50] filpano commented on #9650
Some additional info:
I re-ran the above `ksql` queries using `exactly_once_v2` (even though this is not the correct parameter, according to the above documentation) thinking that perhaps the documentation is outdated in that place.

Interestingly, the result was slightly *higher* than before, `61317013`. I unfortunately do not know the reason for this discrepancy. My log-end offset in that topic

[2022-11-10 18:39] suhas-satish commented on #9696
you can use create table as select from stream and query that

[2022-11-10 18:42] suhas-satish commented on #9692
@vidanimegh , can you post some examples from logs or stacktrace about which are those outbound connections from ksql server to confluent cloud ?

[2022-11-10 18:54] TheDarkFlame commented on #9696
Except when said table is built on top of a session window aggregation.

[2022-11-11 07:08] vidanimegh commented on #9692
Hi @suhas-satish , I'm not seeing any log entries that suggests that. But I have a tcpdump from the ksqldb container that tries to do DNS lookup to Google's DNS servers 8.8.8.8

E..=..@.?...
..<.......5.)...............ksqldb-server-3.....
06:53:39.913211 IP <myhostname2>.<port2> > 8.8.8.8.domain: 2236+ A? ksqldb-server-2. (33)
E..=..@.?..Q
..;.....g.5.)...............ksqldb-server-2.....
06:53:40

[2022-11-11 07:20] vidanimegh commented on #9692
Went inside the docker and checked the contents of /etc/resolv.conf

nameserver 127.0.0.11
options ndots:0

This is what I see. Nothing to suggest why it should look up Google DNS.

[2022-11-11 07:23] marcus-007 opened #9703 "Allow property QUERY_ID for Create Table as Select"
**Is your feature request related to a problem? Please describe.**
For any deplyoment pipelines it would be beneficial to define a proper Query ID for queries created by
`Create Table xyz as Select ... from Stream/Table`
similar to the possibility you have with
`INSERT INTO XYZ WITH(QUERY_ID='XYZ')
SELECT
  ...
from XYZ
partition by ...
emit changes;`

**Describe the solution you'd like**
An addit

[2022-11-11 12:53] TheDarkFlame commented on #9696
Providing a simplified example:

[code]

[2022-11-12 14:11] dberardo-com commented on #6838
by the way do you know the difference between these two configs ?

[code]

ref: https://github.com/confluentinc/ksql/blob/0.28.2-ksqldb/ksqldb-rocksdb-config-setter/src/main/java/io/confluent/ksql/rocksdb/KsqlBoundedMemoryRocksDBConfig.java

[2022-11-15 17:30] #9628 closed

[2022-11-18 02:23] nguyentructran opened #9714 "Add option IF NOT EXISTS in InitializeMigrationCommand"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Currently, InitializeMigrationCommand using  query  :
CREATE STREAM  " + name + " (\n"
        + "  version_key  STRING KEY,\n"
        + "  version      STRING,\n"
        + "  name         STRING,\n"
        + "  state        STRING,  \n

[2022-11-18 06:16] mjsax commented on #9670
Thanks for the details. I am not sure right now. The error message contains `"cause":["Zero length BigInteger"]` -- Given that you declare the type of the column as `byte / Decimal` I am confused.

When you did add `TEST_COLUMN_DECIMAL` to the schema definition of `TEST_INPUT_STREAM`, what data type did you declare? Can you maybe create the input stream without explicit schema definition and let k

[2022-11-19 03:14] baliberdin commented on #9696
I saw this issue last week. I think  there is a "workaround" which is to create a stream over the aggregate table output topic.
After this command
`CREATE TABLE IF NOT EXISTS aggregated_events ...`
A new persistent query and topic are created, then you can create a stream without "AS SELECT":
[code]
I don't know anything about the side effects, but
I also tested it with WINDOWED EMIT FINAL tables

[2022-11-21 10:31] TheDarkFlame commented on #9696
@baliberdin The information you shared resolved my issue, I found that the aggregation key shows up as null always in the stream created, which was a little odd, however doing a AS_VALUE(AGGREGATION_KEY) AS "agg_key" allowed getting around this.
also noteworthy, is that its still not possible to do a select * on the table, instead it is required to manually specify the schema.

For completeness, I

[2022-11-22 13:57] michalstutzmann commented on #9670
The data type for the column was `DECIMAL(19, 0)`. Have created the stream as you suggested - the same error.

I think I might have tracked the error (without proper debugging) to here:  https://github.com/confluentinc/kafka/blob/v7.3.0/connect/api/src/main/java/org/apache/kafka/connect/data/Decimal.java#L79

[code]

[code]

As you can see a `BigInteger` is created from (in our case) an empty byte

[2022-11-22 14:08] aachenmax opened #9718 "Problem writing to topics with ksqldb and Kafka ACLs"
Hello everybody, I'm currently testing ksqldb-server and have some issues connecting ksqldb to a managed Kafka cluster (MSK) that uses ACLs. Specifically, there seems to be a problem when writing to topics with ksqldb (INSERT).

For the setup, I followed the guidelines [here](https://docs.ksqldb.io/en/latest/operate-and-deploy/installation/server-config/security/#configure-authorization-of-ksqldb-

[2022-11-22 14:45] frisoft opened #9719 "ksqldb-server docker image for linux/arm64 architecture"
The current docker image produced from this project (I think) is built only for the linux/amd64 architecture: https://hub.docker.com/r/confluentinc/ksqldb-server

This makes its use quite difficult (sooo slow) on Macbook M1/M2 machines.
Would it be possible to have it built for the `linux/arm64` architecture as well? I don't know what work is involved in this.

I tried to build my local image foll

[2022-11-22 23:45] Gerthum opened #9720 "Using Define Statements in Ksql Test Runner"
**Search for existing answers**
Many questions have been asked before.  Please have a quick search to see if there is already an answer to your question.  There are two main resources for finding answers:

1. [Existing KSQL Github issues, including _closed_ issues](https://github.com/confluentinc/ksql/issues?utf8=%E2%9C%93&q=is%3Aissue+)
1. [KSQL on Stack Overflow](https://stackoverflow.com/questi

[2022-11-25 09:03] vidanimegh commented on #9692
@suhas-satish any observations?

[2022-11-25 14:00] baliberdin commented on #9672
@gmcruz I saw a similar problem and figured it was a misconfiguration of ksql.advertised.listener. When ksql is run as a cluster, each node needs to expose a reachable address. I don't know if this is it, but I think it's worth a try

[2022-11-28 03:23] #9624 closed

[2022-11-28 18:28] IanWhitney commented on #9718
Also interested in this one. We had a ksql stream start failing last week and the Authorizer logs pointed us to this missing ACL. Once we added the ACL the ksql stream resumed working.

It looks like it started when we pulled the [ksqldb-cli container with sha c313611af45528c03d4e79df2f7f91ec98ce3a8bc6ed0804ee8bf2d6053670a6](https://hub.docker.com/layers/confluentinc/ksqldb-server/latest/images/sh

[2022-11-28 21:37] lihaosky opened #9723 "`ksql-migrations` tool inserted null for map"
**Describe the bug**
When using `ksql-migration` tool to create table and insert values. `null` value was inserted for `struct` type.

**To Reproduce**
Steps to reproduce the behavior, include:
There are two files:
1. `V000001__initialize_table_struct_insert_test.sql`:
[code]

2. `V000002__fill_table_struct_insert_test.sql`:
[code]

Started ksql server locally and run
* `bin/ksql-migrations new-pr

[2022-11-29 00:33] suhas-satish commented on #9692
@vidanimegh , there is a healthcheck service that might also go over the internet. Is it possible thats making these callouts?

[2022-11-29 11:44] aachenmax commented on #9718
@IanWhitney Which version did you use before that showed no issues?

I experimented a bit more and also tried setting the transactional.id explicitly and re-enabled idempotence, such as:

[code]
This again makes it possible to create streams without any problems. When trying to insert into the stream, a new error message is shown:

[code]

[2022-11-29 13:26] DhanshriTakkekar opened #9728 "Unable to set header to kafka topic when creating stream from other stream"
We have .net application which publishes the event to kafka topic and on that topic we are creating stream.
There are few headers which get added by default and few are set by code as shown in below image.

![TopicHeader](https://user-images.githubusercontent.com/119390255/204540350-b2d0c6cd-067f-44ec-99f7-54c2f3515ddf.JPG)

We have requirement where we are creating stream from other stream by usi

[2022-11-29 14:30] IanWhitney commented on #9718
That's a good question. But the logs that track that only go back 90 days and I'm not seeing anything. So our previous version must have been > 90 days old. Which could still include 27.2, since that was released 4 months ago.

If necessary I could downgrade a non-prod server and track it down to a specific version.

[2022-11-30 02:32] chinvunified commented on #9151
Yeah, we need this feature. We have hourly data collected job and don't want to keep tables data too long (likely 2 weeks) to save disk space.

[2022-11-30 06:38] john1337 opened #9729 "i can't get columns which are not in group by"
when i am using ksql,i met the following errors:
Could not determine output schema for query due to error: Non-aggregate SELECT expression(s) not part of GROUP BY:PRODUCTID
Either add the column(s) to the GROUP BY or remove them from the SELECT.

create table ts3 as select productid,deviceid,count(*) from ts1 group by deviceid emit changes;

can i do get columns which are not included in group by